*{
	margin:0;
	padding:0;
}

body {
   background-image: url('back.jpg');
}

#top_panel{
	background-color: white;
	position: absolute; 
	visibility: visible; 
	width: 100%;
	left: 0px; 
	top: 20px; 
}

#profilephoto{
	position: absolute;
	visibility: visible;
	left: 300px;
	top: 200px;
	height: 200px;
	width: 200px;
}

#data{
	position: absolute;
	visibility: visible;
	left: 550px;
	top: 220px;
	background-color: white;
}
