*{
	margin:0;
	padding:0;
}

body {
   background-image: url('../images/back.jpg');
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

#top_panel{
	background-color: white;
	position: absolute; 
	visibility: visible; 
	width: 100%;
	left: 0px; 
	top: 20px; 
}

#profilePhoto{
	position: absolute;
	visibility: visible;
	left: 300px;
	top: 200px;
	height: 200px;
	width: 200px;
}

#data{
	position: absolute;
	visibility: visible;
	left: 550px;
	top: 220px;
	background-color: white;
	text-align: center;
}

#options{
	position: absolute;
	visibility: visible;
	left: 980px;
	top: 220px;
    transition: transform .2s;
    width: 150px;
    height: 150px;
}

/*to zoom on hover. ref:https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
#options:hover {
    transform: scale(2);
}

.menu{
	display: none;
}

#menu-list {
	min-width: 696px;
	position: absolute;
	left: -180px;
	top: 150px;
	list-style: none;
	padding-top: 20px;
}

#menu-list li {
		display: inline;
}

#menu-list a{
	color: black;
    padding: 5px;
    background-color: white;
    text-decoration: none;
}

#menu-list a:hover{
	background-color: black;
	color: white;
}
/* really customized drop down menu. shows horizontal list instead of vertical*/
#options:hover .menu {
	display: table;
}

/*go back to top of page*/
#goto-top{
	position: absolute;
	left: 1200px;
	top: 1500px;
}

/*define animation*/
@keyframes myanimation {
    from {}
    to {}
    /*
    animation-name: myanimation;
    animation-duration: 3s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    */ 
}

/*
-------------styles for photos page------------------
*/

/*Started learning to use relative layout*/
#topPanel{
	text-align: center;
	background-color: white;
	color: black;
	position: relative;
	padding: 180px;
}

#topPanel h1{
	padding-top: 50px;
}

#topPanel h3{
	padding: 20px;
}

#topPanel button{
	background-color: black;
	color: white;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    font-size: 16px;
}


#imageStack{
	position: relative;
	margin: auto;
	display: none;
}

.image{
	display: none;
}

.image h3{
	text-align: center;
	color: white;
}

.image a{
	padding: 20px;
	color: white;
	text-decoration: none;
	text-shadow: none;
}

/* This will add a shadow on hover*/
.image a:hover{
	text-shadow: 1px 4px 3px gray;
}

.arrows{
	float: bottom;
	position: relative;
}

#leftArrow{
	float: left;
	display: none;
}

#rightArrow{
	float: right;
	display: none;
}

/* Learned to style buttons */
.arrows button{
	background-color: white;
	color: black;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    font-size: 16px;
	box-shadow: none;
}

/* This will add shadow to the button on hover */
button:hover{
	box-shadow: 0 8px 16px 0 gray, 0 6px 20px 0 gray;
}
